body{
    font-family: Arial, sans-serif; /* O atributo font-familt tem sua funcionalidade de trocar a fonte de todos os elementos do body*/
    margin: 0; /* Esse atributo tem sua funcionalidade de dar um espaçamento entre os elementos HTML, de uma maneira mais fácil de se entender, ele cria um espaçamento entre as caixas no HTML*/
    padding: 0; /* Esse atributo tem sua funcionalidade de dar um espaçamento do elemento (exemplo, paragráfo) e dá borda do elemento, ou seja, ele cria um espaçamento dentro da caixa HTML*/
    background-color: #f0f0f0 ; /* Esse atributo troca a cor do fundo de todo o body*/
    box-sizing: border-box; /* Esse atributo tem como objetivo, de uma maneira mais facil de se entender, não contar a borda para fazer um border, por exemplo*/
}
/* Esse elemento, container, é uma caixa (div) */
.container{
    width: 90%; /* Esse atributo define uma largura para o container*/
    margin: 2% auto; /* Esse atributo cria um espaçamento entre as caixas. Mas ele cria um espaçamento de 2% encima e embaixo, e cria um espaçamento automaticamente na esquerda e direita, mas para calcular automaticamente precisa definir uma largura especifica*/
    background-color: #fff; /* Esse atributo troca a cor do fundo do container*/
    padding: 20px;/* Esse atributo tem sua funcionalidade de dar um espaçamento do elemento (exemplo, paragráfo) e dá borda do elemento, ou seja, ele cria um espaçamento dentro da caixa HTML*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.70); /*Esse atributo tem como o objetico criar uma "sombra* ao redor do container, especifiquei que é apenas na esquerda e direita (0 0) e a espesurra (que seria de 10px) e por fim decidi a cor, que seria preto com uma opacidade de 70%*/
    border-radius: 8px; /* Esse atributo tem com o objetivo arrendondar a borda, especifiquei que queria que minha borda tivesse 8 pixels de arredondamento*/
}
/*Card seria as seções do site */

.card{
    border: 1px solid #ddd; /* Esse atributo tem como funcionalidade criar uma borda entorno do card, especifiquei que queria uma borda de 1pixel de espesura, que fosse solida (ou seja, que fosse uma linha) e decidi a cor dela*/
    border-radius: 8px; /* Esse atributo tem com o objetivo arrendondar a borda, especifiquei que queria que minha borda tivesse 8 pixels de arredondamento*/
    padding: 10px; /* Esse atributo criou um espaçamento de 10px do elemento para a sua borda, tanto encima e baixo tanto direita e esquerda*/
    margin: 10px 0; /*Esse atributo criou um espaçamento de 10px encima em baixo de uma caixa para outra, não foi alterada as direções esquerda e direita*/
    background-color: #fafafa; /* Aqui o background do card, ou seja, a cor de fundo foi alterada*/
}
/* Aqui irei atacar as imagens em especifico das seções */
.card img{
    width: 100%; /* Aqui define que a largura da imagem será de 100%, para que ela não estoure quando for colocada no HTML*/
    border-radius: 5px; /* Aqui defini que as imagens teram um arredondamento de 5pixels em suas boras*/
}

/* Aqui foi para criar algumas colunas, para usar o metodo grid (se eu não me engano) */

.column{
    width: 48%; /* Aqui define que cada coluna do site terá 48% da medida total. Assim ao inves de 12 colunas teram 2 aproximadamente*/
}
.two-columns{
    display: flex; /* Aqui deixei a 2° coluna em flexbox, que deixa os seus elementos filhos flexiveis*/
    justify-content: space-between; /* Aqui todos os filhos da 2° coluna teram um espaçamento igual, mas o priemiro e o ultimo elemento 2° coluna ficaram presos na borda da caixa*/
}
.three-columns{
    display: flex; /* Aqui deixei a 3° coluna em flexbox, que deixa os seus elementos filhos flexiveis*/
    justify-content: space-between; /* Aqui todos os filhos da 3° coluna teram um espaçamento igual, mas o priemiro e o ultimo elemento 3° coluna ficaram presos na borda da caixa*/
}
.column-third{
    width: 32%; /* Aqui define que a classe "column-third" terá uma largura de 32% da largura total do seu elemento pai*/
}

code{
    background-color: #f9f9f9; /* Aqui o background do code, ou seja, a cor de fundo foi alterada*/
    padding: 2px 4px; /* Defini aqui e o code terá um espaçamento de 2px emcima e embaixo e de 4px na esquerda e na direita, um espaçamento do elemento com a borda de seu elemento pai (uma caixa)*/
    border-radius: 3px;  /* Aqui defini que as imagens teram um arredondamento de 3 pixels em suas boras*/
}
blockquote{
    border-left: 4px solid #ddd; /* Aqui eu defini uma borda no elemento blockquote, mas uma borda apenas na sua esquerda, tendo 4px de espesura, sendo solida (uma linha) e define uma cor a essa borda*/
    margin: 10px 0; /* Aqui define um espaçamento entre caixas, tendo 10px encima e embaixo e não terá um espaçamento na direita e esquerda*/
    padding-left: 10px; /* Aqui define um espaçamento entre o elemento e sua borda, mas um espaçamento de 10px apenas na esquerda*/
    color: #666; /* Aqui troquei a cor da fonte, troquei a cor da letra do blockquote*/
    font-style: italic; /* Aqui troquei seu estilo, deixando ele em itálico*/
}
.highlignt{
    background-color: #ffe0b3;/* Aqui o background do highlignt, ou seja, a cor de fundo foi alterada*/
    padding: 5px;/* Esse atributo criou um espaçamento de 5px do elemento para a sua borda, tanto encima e baixo tanto direita e esquerda*/
    border-radius: 5px; /* Aqui defini um arredondamento de 5px em sua borda*/
}