/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
h1, h2, h3{
    color: #333;
}
p{
    color: #70747A;
}
/* Nav Bar */
.navbar-container{
    width: 100%;
    height: 80px;
    background-color: #232A31;
    padding: 0 2rem;
}
.navbar-container nav{
    position: relative;
}
.navbar-container nav .logo{
    width: 50px;    
    margin-top: 15px;
}
.navbar-container nav .navbar-items{
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}
.navbar-container nav .navbar-items li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}
.navbar-container nav .navbar-items li a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.navbar-container nav .navbar-items li a:hover{
    color: #ccc;
}
.navbar-container nav .navbar-items li .default-btn{
    padding: 15px 20px;
    background-color: #2CC76A;
    border-radius: 5px;
}
.navbar-container nav .navbar-items li .default-btn:hover{
    background-color: #22BB5F;
    color: #fff;
}
/* Main Banner */
.main-banner{
    background-image: url("../img/mainbanner.png");
    background-position: center;
    background-size: cover;
    padding: 10rem 0;
}
.main-banner h1, .main-banner p{
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
}
.main-banner h1{
    font-size: 54px;
}
.main-banner p{
    font-size: 32px;
}